.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  top: -1.4%;
  left: -1%;
  pointer-events: none;
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), width 0.3s ease, height 0.3s ease, left 0.3s ease, top 0.3s ease; /* Ajout de la transition pour width et height */
}

.cursor.active {
  transform: scale(1.5); /* Déformation du cercle lorsqu'il est en mouvement */
}

.cursor.hovered {
    width: 60px; /* Ajustez la taille souhaitée lorsque le curseur est survolé */
    height: 60px; /* Ajustez la taille souhaitée lorsque le curseur est survolé */
    left: -30px;
    top: -30px;
}
