body, html {
  height: 100%;
  margin: 0;
  position: relative;
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: none;
  background-color: black;
  max-height: fit-content;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#Accueil, #Mon-Portfolio, #A-Propos, #Contacter{
  z-index: -1;
  display: none;
  width: 100%;
  height: 100%;
  margin-top: -100vh;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.Accueil-Info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.About-Info, .About-Info2 {
  flex: 1; /* Étire l'élément pour occuper tout l'espace disponible */
  text-align: center;
  padding-top: 1%;
}

.About-Info p, .About-Info2 p {
  font-size: larger;  
  margin-top: 5%;
}

.Inside-About-Info, .Inside-About-Info2 {
  width: 80%;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

.Inside-About-Info h2, .Inside-About-Info2 h2 {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.Social-Network {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-item {
  text-align: center;
}

.Inside-About-Info .Social-Network img{
  width: 50%;
  aspect-ratio: 1/1;
}

a {
  cursor: none;
  color: black;
}

.vertical-line {
  border-left: 1px solid black;
  height: 72vh; 
}

.vertical-line-portfolio {
  border-left: 1px solid black;
  height: 100%; 
}

.horizontal-bar {
  border-top: 1px solid black;
  width: 100%;
  margin-top: 10%;
}

.horizontal-bar-portfolio{
  border-top: 1px solid black;
  width: 100%;
}

.small-horizontal-bar-portfolio{
  border-top: 1px solid black;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.Reach-Out {
  display: flex;
  width: 100%;
  height: 100%; 
}

.Reach-Out p {
  text-align: left;
}

.Portfolio-Hub {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Portfolio-Hub h2 {
  padding-top: 20px;
}

.Portfolio-Hub1, .Portfolio-Hub2{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#Portfolio-Universitaire, #Portfolio-Personnel {
  padding: 10px 20px;
  margin-bottom: 40px;
  border: 1px solid black;
  background-color: black;
  font-size: larger;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: color 0.8s ease, background-color 0.8s ease;
}

#Portfolio-Universitaire:hover, #Portfolio-Personnel:hover {
  background-color: white;
  color: black;
}

/*.div-Portfolio-Personnel {
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}*/




